
<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8" />
	<title>Datos básicos</title>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
 	<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
  	<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body ng-controller="BasicDataController" ng-init="getAllBasicData()">
<div class="container">
	<span class="label label-success" ng-hide="msg==''" style="font-size:12px;margin:5px;">{{msg}}</span>
	<button type="button" class="btn btn-default" ng-click="open()">Nuevo</button>
	<a th:href="@{/logout}" href="logout"> Logout </a>
	<table class="table table-bordered table-striped table-hover" ng-show="basicDatas != null" style="margin-top:5px;">
		<thead>
	      <tr>
	        <th>Firstname</th>
	        <th>Lastname</th>
	        <th>Last Update</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="basicData in data" ng-click="getBasicData(basicData.id)">
	        <td>{{basicData.firstName}}</td>
	        <td>{{basicData.lastName}}</td>
	      </tr>
	    </tbody>
	</table>
	
	<!-- Pagination -->
	<div class="text-center">
		<ul class="pagination">
		  <li ng-repeat="n in range(numPages)" ng-class="activeCurrentPage(n)" ng-click="getDataPage(n)">
		  	<span style="cursor:pointer;">{{$index+1}}</span>
		  </li>
		</ul>
	</div>
	
	<!-- Modal -->
	<div modal="showModal" class="modal fade" close="cancel()">
		<div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		          <h4>Datos Básicos</h4>
		      </div>
		      <div class="modal-body">
		      	<form name="myForm"><!-- Formulario anamnesis -->
				    <input type="hidden" id="basicDataId" ng-model="currentBasicData.id" />
		          	<div class="form-group">
					  <label for="usr">Nombre</label>
					  <input type="text" class="form-control" id="nombre"  ng-model="currentBasicData.firstName" />
					</div>
				    <br></br>
				    
		          	<div class="form-group">
					  <label for="usr">Apellidos</label>
					  <input type="text" class="form-control" id="apellidos" ng-model="currentBasicData.lastName" />
					</div>
				    
				    <p>Edad</p>
				    <div>
				    	<input type="text" class="form-control" id="edad" />
				    </div>
				    <br></br>
				    
				    <p>Telefono</p>
				    <div>
				    	<input type="text" class="form-control" id="telefono" />
				    </div>
				    <br></br>
				    
				    <p>Profesion</p>
				    <div>
				    	<input type="text" class="form-control" id="profesion" />
				    </div>
				    <br></br>
				    
				    <p>Sexo</p>
				    <div>
				    	<input type="text" class="form-control" id="sexo" />
				    </div>
				    <br></br>
				    
				    <p>Actividad fisica</p>
				    <div>
				    	<input type="text" class="form-control" id="actividadFisica" />
				    </div>
				    <br></br>
				    
				    <p>Dias a la semana</p>
				    <div>
				    	<input type="text" class="form-control" id="diasSemana" />
				    </div>
				    <br></br>
				    
				    <p>Altura</p>
				    <div>
				    	<input type="text" class="form-control" id="altura" />
				    </div>
				    <br></br>
				    
				    <p>Peso</p>
				    <div>
				    	<input type="text" class="form-control" id="peso" />
				    </div>
				    <br></br>
				    
				    <p>Email</p>
				    <div>
				    	<input type="text" class="form-control" id="email" />
				    </div>
				    
				</form>
		      </div>
		      <div class="modal-footer">
				    <button class="btn btn-success" ng-click="saveBasicData()">Guardar</button>
		      </div>
			</div>
		</div>
    </div>
    
    
    
</div>
<script src="webjars/angularjs/1.2.19/angular.min.js"></script>
<script src="js/basicDataServices.js"></script>
<script src="js/angular-ui-bootstrap-modal.js"></script>
<script src="js/spring-security-csrf-token-interceptor.js"></script>
</body>
</html>